@page

<!--Frontend para comunicarme con el Hub-->


<div class="container">
	<script>
		var usuario = '@TempData["usuario"]';
    </script>
    <h1>Bienvenido al chatroom, @TempData["usuario"]!!</h1>
    <div class="row p-1">
        <div class="col-1">Mensaje</div>
        <div class="col-5">
            <input type="text" class="w-100" id="messageInput" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Enviar mensaje" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>


<script src="/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="/js/chat.js"></script>