@page

<!--Frontend para comunicarme con el Hub-->


<div class="container">
    
    <script>
        var usuario = "@ViewBag.Usuario";
        console.log("Usuario autenticado:", usuario);
    </script>

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-text">Bienvenido, @User.Identity.Name!</span>
        <button id="btnLogout" class="btn btn-danger">Cerrar sesión</button>
    </nav>
    <input type="text" id="txtUsuarioBuscado" placeholder="Usuario a enviar mensaje">
	<button id="btnIniciarConversacion">Iniciar conversación</button>
    <div class="row p-1">
        <div class="col-6">
            <ul id="listaMensajes"></ul>
        </div>
    </div>

</div>


<script src="/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="/js/conversaciones.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var urlTemplate = '@Html.Raw(Url.Action("Chat", "Home", new { conversacion = "__conversacion__"}))';
    var urlLogin = '@Html.Raw(Url.Action("Index","Home"))';
</script>