@page

<!--Frontend para comunicarme con el Hub-->


<div class="container">
    
    <script>
        var usuario = "@ViewBag.Usuario";
        console.log("Usuario autenticado:", usuario);
    </script>

    <h1>Bienvenido a Livechat, @User.Identity.Name!!</h1>
    <input type="text" id="txtUsuarioBuscado" placeholder="Usuario a enviar mensaje">
	<button id="btnIniciarConversacion">Iniciar conversación</button>
    <div class="row p-1">
        <div class="col-6">
            <ul id="listaMensajes"></ul>
        </div>
    </div>

</div>


<script src="/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="/js/conversaciones.js"></script>
<script>
    var urlTemplate = '@Html.Raw(Url.Action("Chat", "Home", new { conversacion = "__conversacion__"}))';
</script>